.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

body{
    text-align: center;
}

.bg-image:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-image{
  background-image: url('../images/karsten-winegeart-qy0BHykaq0E-unsplash.png');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.index-bg-image{
  background-image: url('../images/karsten-winegeart-qy0BHykaq0E-unsplash.png');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1{
    font-family: 'Arial';
    font-weight: bold;
    line-height: 1;
    color: rgba(255,155,96,255);
    font-size: 4.5em;

}

h2{
    font-family: 'Arial';
    line-height: 1.5;
    color: white;
    font-size: 2em;
    font-weight: thin;

}

p {
  color: white;

}

.gallery-font{
  font-family: 'Arial', ;
  line-height: 1.5;
  color: black;
  font-size: 80px;
  text-align:left;

}

/* Buttons */

.service-button-lg {
    border:none;
    background-color:rgba(240,172,128,255);
    color: black;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 20px;

  }

  .service-button {
    border:none;
    background-color:rgba(240,172,128,255);
    color: black;
    border-radius: 5px;
    padding: 5px 20px;

  }

  
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  

  /* Contact */
  .contact-form {
    margin: 0 auto;
    background-color:rgba(226, 224, 224, 0.95);
    text-align:left;
    padding: 15px 15px;
    font-size:1.25rem;
  }

  .contact-button{
    text-align:right;
    
  }

  input, textarea {
    margin: 0;
    border: none;
    padding: 0;
    width: 328.5px;

}

  .required {
    color: red;
  }

  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: "Arial";
    color: #fff;
  }
  
  .nav-link.active{
    font-size: 1.2rem;
    font-family: "Arial";
    color: #fff;
    text-decoration: underline orange 3px;
  }
  

  /* Image */
  
  .testimonial-image {
    width: 120%;
    margin: 10px;
  }
  
  /* Features Section */
  
  #features {
    position: relative;

  }
  
  .feature-title {
    font-size: 1.2 rem;
    color: white;

  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  
  
  

  /* GALLERY */
.product {
  position: relative;
  overflow: hidden;
  padding: 100px;
  background-color: #fff;

}

.product-category {
  padding: 0 10vw;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 40px;
  color: black;
  text-align: left;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}


.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 50%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}